*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navFlex{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    background-color: blueviolet;
}
#logoFlex{
    display: inline-flex;
}
#logo img{
    width: 90px;
    height: 50px;
    margin-left: 30px;
}
#logoText{
    padding: 10px 0px;
    color:rgb(255, 255, 255);
    /* text-shadow: 2px 2px 3px white; */
}
nav ul{
    list-style-type: none;
    display: inline-flex;
}
nav ul li{
    padding: 10px 0px;
}

nav ul li:hover{
    /* background-color: rgb(107, 46, 168); */
    color: white;
    font-weight: 700;
    /*text-shadow: 1px 1px 2px white;*/
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
}
nav ul li a:hover{
    color: white;
    /*text-shadow: 1px 1px 2px white;*/
}
#navFlex1{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    background-color: rgb(255, 238, 0);
}
#navFlex1 ul{
    display: inline-flex;
    
}
#navFlex1 ul li{
    list-style-type: none;
    padding-top: 10px;
    padding-right: 10px;
    
}
#navFlex1 ul li a{
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
    color: white;
    /* border-right:2px double white ; */
}
#navFlex1 ul li a:hover{
    text-shadow: 1px 1px 2px white;
}
#navFlex1 form{
    padding: 14px 10px;
}
#navFlex1 form input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;

}
#navFlex1 form button{
    width: 70px;
    height: 30px;
    color: black;
    border-radius: 10px;
    border: none;
    color: blue;
}
/* menu bar */
.flex2{
    display: flex;
    
}
#colors ul li{
    padding: 6px 0px;


}
.flexarea{
    width: 60vw;
    height: 70vh;
    background-color: aqua;

}
/* ********************* */
.align{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.left{
    width: 20vw;
    height: 77vh;
    background-color: rgb(16, 8, 36);
}
.center{
    text-align: justify;
    width: 76vw;
    height: 77vh;
    border: 3px solid black;
    box-shadow: 0px 0px 8px black;
    /* background: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80); */
}
.black{
    background-color: rgb(16, 8, 36);
    display: block;
    width: 100%;
}
.white{
    background-color: rgb(29, 21, 68);
    display: block;
    width: 100%;
}
span{
    color: white;
}
/* ********************* */
.cent1{
    text-align: center;
}
.border1{
    box-shadow: 0px 0px 5px rgb(83, 81, 81);
}